/*********************************
 Base
**********************************/
* {
  box-sizing: border-box;
}
*::before, *::after {
  pointer-events: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overscroll-behavior: none;
}
html.is-menu-opened {
  overflow-y: hidden;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #fff;
  color: #000;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overscroll-behavior: none;
}

main {
  overflow: hidden;
}
main section {
  padding: 100px 0;
}
@media only screen and (max-width: 991px) {
  main section {
    padding: 70px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: opacity;
}

img, canvas, iframe {
  display: block;
  max-width: 100%;
}

/* Display formats */
.block {
  display: block;
}

.hidden {
  display: none !important;
}
@media only screen and (max-width: 991px) {
  .hidden-sp {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .hidden-pc {
    display: none !important;
  }
}

/* Positioning */
.relative {
  position: relative;
}

/* Container */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/*********************************
 Texts
**********************************/
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/*********************************
 Images
**********************************/
/* Image */
.img, .bg-img {
  position: relative;
  background: #d3d3d3;
  overflow: hidden;
  z-index: 0;
}
.img--bleed {
  overflow: visible;
}
.img__main, .bg-img__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Background Image */
/*********************************
 Buttons
**********************************/
/*********************************
 Titles
**********************************/
/*********************************
 Lists
**********************************/
/*********************************
 Accordion
**********************************/
.accordion {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 25px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.accordion__item {
  border-bottom: 1px solid #000;
  padding: 0 0 20px;
}
.accordion__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.accordion__wrap {
  padding: 20px 0 0;
}
.accordion__icon {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  width: 15px;
}
.accordion__icon::before, .accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  transform: translate(-50%, -50%);
}
.accordion__icon::before {
  width: 100%;
  height: 2px;
}
.accordion__icon::after {
  width: 2px;
  height: 100%;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: height;
}
.accordion__link.is-active .accordion__icon::after {
  height: 0;
}

/*********************************
 Tabs
**********************************/
.tabs__nav {
  position: relative;
}
.tabs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto 30px;
}
@media only screen and (max-width: 991px) {
  .tabs__list {
    justify-content: space-between;
  }
}
.tabs__item {
  flex: 1;
}
.tabs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: background, color;
}
@media only screen and (max-width: 991px) {
  .tabs__link {
    flex: 1;
    padding: 12px 0;
  }
}
.tabs__item:hover .tabs__link {
  background: #d3d3d3;
}
.tabs__item.is-active .tabs__link {
  background: #000;
  color: #fff;
}
.tabs__wrap {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  z-index: 0;
}
.tabs__content {
  flex: 0 0 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: opacity, visibility;
}
.tabs__content:nth-child(n+2) {
  margin: 0 0 0 -100%;
}
.tabs__content.is-active {
  max-height: 100%;
  overflow: visible;
  opacity: 1;
  visibility: visible;
  z-index: 0;
}

/*********************************
 Layouts
**********************************/
.layout-sample__ttl {
  margin: 0 0 30px;
}
.layout-sample__txt p:nth-child(n+2) {
  margin: 1.4em 0 0;
}

/*********************************
 Header
**********************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background: #6A6A6A;
  z-index: 100;
  user-select: none;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: box-shadow;
}
@media only screen and (max-width: 991px) {
  .header {
    height: 80px;
    padding: 0 20px;
  }
}
.admin-bar .header {
  top: 32px;
}
.is-scrolled .header {
  box-shadow: 0 0 10px -5px #000;
}
.header__logo {
  max-height: 70px;
  pointer-events: none;
}
@media only screen and (max-width: 991px) {
  .header__logo {
    max-height: 50px;
  }
}
.header__nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}
@media only screen and (max-width: 991px) {
  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    overflow-y: scroll;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: opacity, visibility;
  }
  .admin-bar .header__nav {
    top: calc(100% + 32px);
    height: calc(100vh - (100% - 32px));
  }
  .is-menu-opened .header__nav {
    opacity: 1;
    visibility: visible;
  }
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

/* Menu Bar */
.menu-bar {
  position: relative;
  aspect-ratio: 1/1;
  width: 40px;
  cursor: pointer;
}
.menu-bar::before, .menu-bar::after, .menu-bar__middle {
  content: "";
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  background: #000;
  transform: translate(-50%, -50%);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: top, transform, opacity;
}
.menu-bar::before {
  top: calc(50% - 10px);
}
.is-menu-opened .menu-bar::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-bar__middle {
  top: 50%;
}
.is-menu-opened .menu-bar__middle {
  opacity: 0;
}
.menu-bar::after {
  top: calc(50% + 10px);
}
.is-menu-opened .menu-bar::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*********************************
 Footer
**********************************/
.footer {
  padding: 30px 0;
  background: #000;
  color: #fff;
}
.footer__copyright {
  text-align: center;
}

/*********************************
 Page (Global)
**********************************/
.lower__wrap:empty {
  min-height: 100vh;
}

/* Banner */
.banner {
  margin: 100px 0 0;
}
@media only screen and (max-width: 991px) {
  .banner {
    margin: 80px 0 0;
  }
}
.banner__wrap {
  display: flex;
  align-items: center;
  justify-content: stretch;
  min-height: 300px;
  background: #d3d3d3;
}

/*********************************
 404 Page
**********************************/
.page-404 {
  display: flex;
  align-items: center;
  justify-content: stretch;
  min-height: 100vh;
  padding: 100px 0;
  user-select: none;
}
@media only screen and (max-width: 991px) {
  .page-404 {
    padding: 70px 0;
  }
}
.page-404__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.page-404__ttl {
  margin: 0 0 40px;
}
.page-404__txt {
  margin: 0 auto;
  border: 3px solid #000;
  padding: 60px 60px 30px;
  line-height: 2;
}
@media only screen and (max-width: 767px) {
  .page-404__txt {
    padding: 30px 20px;
  }
}
.page-404__txt p + p {
  margin: 1em 0 0;
}
.page-404__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 60px;
  margin: 60px 0 0;
}
.page-404__company, .page-404__wd {
  max-height: 70px;
  pointer-events: none;
}
.page-404__link {
  display: block;
  margin: 60px 0 0;
  border: 2px solid #000;
  padding: 8px 30px;
  background: #000;
  color: #fff;
  text-align: center;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: background, color;
}
.page-404__link:hover {
  background: #fff;
  color: #000;
}

/*********************************
 Top Page
**********************************/
/* Banner */
.top-profile__img {
  max-width: 400px;
  aspect-ratio: 400/400;
}
.top-profile .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}/*# sourceMappingURL=style.css.map */