// Colors
$white: #fff;
$black: #000;
$gray: #d3d3d3;
$Hgray: #6A6A6A;
$Mblue: #1e3551;

$default-font-size: 1.6rem;

$font-noto-serif: "Noto Serif JP", serif;
$font-noto-sans: "Noto Sans JP", sans-serif;

$font-primary: $font-noto-sans;

$default-mqMax-width: 991px;
$default-mqMin-width: 992px;
$default-mqMinMax-min-width: 992px;
$default-mqMinMax-max-width: 1920px;